// 형광펜 효과 (부모에 사용하고 span으로 묶기)
@mixin highlight ($width, $height, $text, $color:yellow, $time:1.5s, $delay: 0.6s) {
    .highlight {
        display: inline-block;
        height: $height;
        &::before {
            position: absolute;
            width: 0px;
            content: $text;
            display: block;
            background-color: $color;
            overflow: hidden;
            animation: highlighted $time both;
            animation-delay: $delay;
        }
        @keyframes highlighted {
            0% {width: 1px; opacity: 50%;}
            100% {width: $width; opacity: 100%;}
        }
    }
    }
// 움직임
@mixin box-move($direction:left, $delay:0s) {
    @if $direction == left {
        animation: left-move 1s both;
        animation-delay: $delay;
        @keyframes left-move {
            0% {transform: translateX(-20px); opacity: 0%;}
            100% {transform: translateX(0px); opacity: 100%;}
        }
    } @else {
        animation: right-move 1s both;
        animation-delay: $delay;
        @keyframes right-move {
            0% {transform: translateX(20px); opacity: 0%;}
            100% {transform: translateX(0px); opacity: 100%;}
        }
    }
}
/* SASS 기본 */
$orange: #FF5203;
$black: rgb(19, 19, 19);
$border8: 8px solid #000;
$border2: 2px solid #000;
.off { display: none; }

// index
.contents-index {
    // display: none;
    text-align: center;
    word-break: keep-all;
    
    h1 {
        padding: 45px;
        line-height: 60px;
        font-size: 45px;
        font-weight: 800;
        @include highlight (117px, 55px, "손수철", #ff530360, $delay: 0s);
    }
    
    .link {
        font-size: 40px;
        margin-bottom: 50px;
        i {
            margin: 0 13px;
            opacity: 70%;
            &:hover {
                color: $orange;
            }
        }
    }

    .item-box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 45px;
        padding: 0;
        background: #fff;
        border: $border8;
        width: 77%;
        height: 100px;
        .emoji {
            display: inline-block;
            font-size: 60px;
        }
        h3 {
            flex: 2;
            padding: 0 15px;
            font-size: 20px;
            line-height: 32px;
        }
        &:nth-child(2n) {
            float: left;
            margin-left: -10%;
            @include box-move(left, .9s)
        }
        &:nth-child(2n+1) {
            float: right;
            margin-right: -10%;
            @include box-move(right, .7s)
        }
    }
}

// about-me
.contents-about {
    text-align: center;
    word-break: keep-all;
    padding-top: 45px;
    
    @mixin headfont($size, $delay, $height: 60px) {
        line-height: $height;
        font-size: $size;
        animation: about-movetxt 1s both;
        animation-delay: $delay;
        @keyframes about-movetxt {
            0% {transform: translateY(-20px); opacity: 0%;}
            100% {transform: translateY(0px); opacity: 100%;}
        }
    }

    h5 {
        font-weight: 600;
        @include headfont(34px, 0);
    }
    h4 {
        font-weight: 600;
        @include headfont(36px, .5s, 65px);
    }
    h3 {
        font-weight: 600;
        @include headfont(38px, .9s, 71px);
    }

    h1 {
        margin: 48px;
        font-weight: 800;
        @include headfont(43px, 1.2s, 60px);
    }

    .item-box {
        display: flex;
        position: relative;
        margin-top: 45px;
        padding: 0;
        background: #fff;
        border: $border8;
        width: 78%;
        height: 100px;
        img {
            width: 150px;
            height: auto;
            object-fit: contain;
        }
        .explain-cont {
            display: flex;
            position: relative;
            flex-direction: column;
            flex: 2;
            font-size: 22px;
            padding: 13px;
            strong {
                font-weight: 800;
            }
            strong, span {
                flex: 1;
                text-align: left;
                line-height: 150%;
            }
        }
        &:nth-child(2n) {
            float: left;
            margin-left: -10%;
            @include box-move(left, 1.6s)
        }
        &:nth-child(2n+1) {
            float: right;
            margin-right: -10%;
            @include box-move(right, 1.4s)
        }
    }
}

// skills
.contents-skills {
    text-align: center;
    word-break: keep-all;
    padding-top: 45px;

    .item-box {
        margin-bottom: 65px;
        h1 {
            font-weight: 700;
            font-size: 34px;
            margin-bottom: 20px;
        }
        i {
            cursor: pointer;
            font-size: 60px;
            margin: 0 13px;
            opacity: 70%;
            &:hover {
                color: $orange;
            }
        }
        #photoshop, #illustrator {
            display: inline-block;
            border-radius: 6px;
            color: #fff;
            background-color: #000;
            width: 58px;
            height: 58px;
            font-size: 36px;
            font-weight: 600;
            line-height: 58px;
            &:hover {
                background-color: $orange;
            }
        }
    }

}

// works
.contents-works {
    text-align: center;
    word-break: keep-all;
    padding-top: 45px;

    h1 {
        font-weight: 700;
        font-size: 34px;
        margin-bottom: 20px;
    }

    .item-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 100px;
        .item-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            padding: 0;
            background: #fff;
            border: $border8;
            width: 39%;
            height: 300px;
            margin-top: 50px;
            transition: all .2s;
            img {
                height: 75%;
                object-fit:cover;
                border-bottom: $border8;
            }
            .explain-cont {
                height: 25%;
                strong {
                    padding: 8px 4px 0;
                    display: block;
                    text-align: center;
                    font-weight: 800;
                    font-size: 27px;
                }
                span {
                    padding: 5px 0;
                    display: block;
                    text-align: center;
                    font-weight: 600;
                    color: #777;
                    font-size: 20px;
                }
            }
            &:hover {
                background-color: $black;
                color: #fff;
            }
            &:nth-child(3n-2) {
                float: left;
                margin-left: -17%;
                @include box-move(left, 0s)
            }
            &:nth-child(3n-1) {
                margin: 0 15px;
                transform: translateY(-5%);
                animation: fadein 1s both;
                @keyframes fadein {
                    0% {transform: translateY(-15px); opacity: 0%;}
                    100% {transform: translateY(0px); opacity: 100%;}
                }
            }
            &:nth-child(3n) {
                float: right;
                margin-right: -17%;
                @include box-move(right, 0s)
            }

        }
    }

}

@media screen and (max-width: 1300px) {
    .contents-index {
        .item-box {
            width: 92%;
        }
    }
    .contents-about {
        .item-box {
            margin-left: 0;
            margin-right: 0;
            width: 92%;
            img {
                width: 130px;
            }
            .explain-cont {
                font-size: 19px;
            }
        }
    }
    .contents-works {
        .item-container {
            .item-box {
                width: 39%;
                .explain-cont {
                    height: 25%;
                    strong {
                        font-size: 23px;
                    }
                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contents-index {
        .item-box {
            height: 95px;
            .emoji {
                font-size: 50px;
            }
            h3 {
                font-size: 18px;
                line-height: 29px;
            }
            &:nth-child(2n) {
                float: left;
                margin-left: 2%;
            }
            &:nth-child(2n+1) {
                float: right;
                margin-right: 2%;
            }
        }
    }
    .contents-about {
        .item-box {
            width: 92%;
            .explain-cont {
                font-size: 18px;
                padding: 11px;
                strong, span {
                    flex: 1;
                    text-align: left;
                    line-height: 150%;
                }
            }
            &:nth-child(2n) {
                float: left;
                margin-left: 2%;
            }
            &:nth-child(2n+1) {
                float: right;
                margin-right: 2%;
            }
        }
    }
    .contents-works {
        .item-container {
            .item-box {
                width: 41%;
                .explain-cont {
                    strong {
                        font-size: 21px;
                    }
                    span {
                        // padding: 5px 0;
                        font-size: 18px;
                    }
                }
                &:nth-child(3n) {
                    margin-right: 0%;
                    animation: none;
                }
                &:nth-child(3n-2) {
                    margin-right: 0%;
                    animation: none;
                }
                &:nth-child(3n-1) {
                    margin: 50px 0;
                    transform: translateX(10%);
                    animation: none;
                }
                &:nth-child(2n-1) {
                    float: left;
                    margin-left: 2%;
                    @include box-move(left, 0s)
                }
                &:nth-child(2n) {
                    float: right;
                    margin-right: 2%;
                    @include box-move(right, 0s)
                }
    
            }
        }
    
    }
}