@charset "UTF-8";
/* SASS 기본 */
body.dark .contents-index h1 .highlight {
  color: #000;
}

body.dark .contents-resume .skill i::after {
  color: #dfdfdf;
}

body.dark .category1 {
  background-color: #555;
}

body.dark .contents-works .item-box .item-detail .list-title .git-btn {
  background-color: #555;
}

body.dark .contents-works .item-box .item-detail .list-title .git-btn:hover {
  background-color: #ff5303;
}

body.dark .contents-works .img-link img {
  border-color: #555;
}

.contents-resume .img-cont,
.contents-works .img-cont {
  height: 530px;
  background-color: #f3f3f3;
  background-image: url(../img/myphoto.gif);
  background-size: 350px;
  background-position: top center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-animation: resize-image 1s both;
          animation: resize-image 1s both;
}

@-webkit-keyframes resize-image {
  100% {
    height: 255px;
  }
}

@keyframes resize-image {
  100% {
    height: 255px;
  }
}

.category1 {
  position: relative;
  display: inline-block;
  line-height: 17px;
  margin-right: 7px;
  padding: 2px 3px;
  background-color: #999;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.off {
  display: none;
}

.contents-index {
  text-align: center;
  word-break: keep-all;
}

.contents-index .img-cont {
  height: 530px;
  background-color: #f3f3f3;
  background-image: url(../img/myphoto.gif);
  background-position: top center;
  background-size: 350px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-animation: fadein 1s both 0.2s;
          animation: fadein 1s both 0.2s;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contents-index h1 {
  margin: 45px;
  font-size: 36px;
  font-weight: 200;
}

.contents-index h1 .highlight {
  display: inline-block;
  height: 30px;
  font-weight: 600;
}

.contents-index h1 .highlight::before {
  position: absolute;
  width: 0px;
  content: "손수철";
  display: block;
  background-color: #ebebeb;
  overflow: hidden;
  -webkit-animation: highlighted 1.5s both;
          animation: highlighted 1.5s both;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes highlighted {
  0% {
    width: 1px;
    opacity: 50%;
  }
  100% {
    width: 94px;
    opacity: 100%;
  }
}

@keyframes highlighted {
  0% {
    width: 1px;
    opacity: 50%;
  }
  100% {
    width: 94px;
    opacity: 100%;
  }
}

.contents-resume .title {
  margin: 70px 0 110px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  word-break: keep-all;
  -webkit-animation: fadein 0.8s both 0.3s;
          animation: fadein 0.8s both 0.3s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contents-resume .title strong {
  font-weight: 900;
  font-size: 50px;
}

.contents-resume .sub-title {
  margin: 120px 0 25px;
  font-weight: 800;
  font-size: 22px;
}

.contents-resume .sub-title i {
  margin-left: 4px;
  opacity: 45%;
  font-size: 21px;
}

.contents-resume .sub-title i:hover {
  cursor: help;
  opacity: 100%;
  color: #ff5303;
}

.contents-resume .sub-title i:hover::after {
  content: '•1 Basic •2 Demonstrating •3 Proficient •4 Expert';
  font-weight: 500;
  font-family: 'Archivo';
  font-size: 16px;
  padding-left: 6px;
}

.contents-resume .sub-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 19px;
  font-weight: 300;
  line-height: 32px;
}

.contents-resume .sub-text strong {
  font-weight: 700;
  font-size: 20px;
}

.contents-resume .sub-text dt {
  display: inline-block;
  font-weight: 500;
  margin-right: 26px;
  margin-bottom: 13px;
}

.contents-resume .sub-text dd {
  font-size: 18px;
  position: relative;
  margin-right: 33px;
  margin-bottom: 13px;
}

.contents-resume .sub-text a:hover {
  color: #ff5303;
}

.contents-resume .sub-text a::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(7px, -50%);
          transform: translate(7px, -50%);
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #ff5303;
}

.contents-resume .personal dd {
  margin-right: 78px;
}

.contents-resume .skill dd {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.contents-resume .skill i {
  position: relative;
  margin-right: 45px;
}

.contents-resume .skill i::after {
  position: absolute;
  margin-right: 10px;
  top: 50%;
  -webkit-transform: translate(7px, -50%);
          transform: translate(7px, -50%);
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.contents-resume .skill .lv1::after {
  content: '•1';
}

.contents-resume .skill .lv2::after {
  content: '•2';
}

.contents-resume .skill .lv3::after {
  content: '•3';
}

.contents-resume .skill .lv4::after {
  content: '•4';
}

.contents-resume .skill .lv5::after {
  content: '•5';
}

.contents-resume .experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.contents-resume .experience strong {
  font-weight: 700;
  font-size: 22px;
  margin-right: 8px;
}

.contents-resume .experience .list-title {
  font-size: 16px;
  margin-bottom: 6px;
}

.contents-resume .experience .list-detail {
  position: relative;
  margin-left: 28px;
  font-size: 17px;
  list-style-type: disc;
}

.contents-works .title {
  margin: 70px 0 110px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  word-break: keep-all;
  -webkit-animation: fadein 0.8s both 0.3s;
          animation: fadein 0.8s both 0.3s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contents-works .title strong {
  font-weight: 900;
  font-size: 50px;
}

.contents-works .item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 83px;
}

.contents-works .item-box .item-detail .list-title {
  margin-bottom: 13px;
}

.contents-works .item-box .item-detail .list-title strong {
  padding-right: 5px;
  font-weight: 800;
  font-size: 22px;
}

.contents-works .item-box .item-detail .list-title .git-btn {
  position: relative;
  margin-right: 7px;
  padding: 2px 3px;
  background-color: #999;
  font-weight: 500;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contents-works .item-box .item-detail .list-title .git-btn:hover {
  background-color: #ff5303;
}

.contents-works .item-box .item-detail .list-title .git-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(7px, -50%);
          transform: translate(7px, -50%);
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #ff5303;
}

.contents-works .item-box .item-detail .list-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 18px 2px;
  font-size: 18px;
}

.contents-works .item-box .item-detail .list-detail strong {
  display: inline-block;
  width: 107px;
  font-weight: 500;
}

.contents-works .item-box .item-detail .list-detail span {
  font-weight: 300;
  font-size: 17px;
}

.contents-works .item-box .item-detail .list-detail li {
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 9px;
}

.contents-works .item-box .item-detail .list-detail li::before {
  content: '-';
  margin-right: 5px;
}

.contents-works .item-box .img-link {
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  height: 125px;
}

.contents-works .item-box .img-link:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.contents-works .item-box .img-link:hover::after {
  content: 'MOVE TO PAGE';
  position: absolute;
  text-align: center;
  padding-top: 22%;
  left: 0;
  width: 230px;
  height: 120px;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  border-bottom-left-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contents-works .item-box .img-link img {
  overflow: hidden;
  position: relative;
  width: 230px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-left-radius: 20px;
  border-left: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

@media screen and (max-width: 1280px) {
  .contents-index h1 {
    line-height: 56px;
  }
  .contents-resume .personal .sub-text:nth-child(2) {
    width: 600px;
  }
  .contents-resume .personal .sub-text:nth-child(3) {
    width: 413px;
  }
  .contents-resume .personal .sub-text dt {
    width: 58px;
  }
  .contents-resume .techskill .sub-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 20px;
  }
  .contents-resume .exp-date {
    display: inline-block;
  }
  .contents-works .item-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contents-works .item-box .item-detail {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contents-works .item-box .img-link {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 280px;
    margin-bottom: 60px;
  }
  .contents-works .item-box .img-link img {
    display: block;
    border-bottom-left-radius: 0px;
    border: 1px solid #eeeeee;
    width: 280px;
    height: 150px;
  }
  .contents-works .item-box .img-link::before {
    position: absolute;
    content: 'MOVE TO PAGE';
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    top: 12px;
    left: 12px;
    font-size: 14px;
    padding: 6px 9px;
    z-index: 1;
    text-shadow: 0px 0px 3px #666;
  }
  .contents-works .item-box .img-link:hover::after {
    content: '';
    background: none;
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: 640px) {
  .contents-resume .personal .sub-text:nth-child(2) {
    width: 370px;
  }
  .contents-resume .personal .sub-text:nth-child(3) {
    width: 420px;
  }
  .contents-resume .personal .sub-text:nth-child(4) dd {
    margin-right: 0;
  }
  .contents-resume .personal .sub-text .large-width {
    width: 200px;
  }
  .contents-resume .techskill .sub-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 20px;
  }
  .contents-resume .exp-date {
    display: inline-block;
  }
  .contents-works .item-box .list-title {
    line-height: 28px;
  }
  .contents-works .item-box .list-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contents-works .item-box .list-detail strong {
    padding: 9px 0;
  }
}
/*# sourceMappingURL=content.css.map */