@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');

body, a, p, h1, h2, h3, h4, span, li, ul, button, input, form, div{ font-family: 'Pretendard';}
a { text-decoration:none; color:inherit;}

/* SASS 기본 */
$orange: #FF5203;
$black: rgb(19, 19, 19);
$border8: 8px solid #000;
$border2: 2px solid #000;


/* 기본 스타일 */
body {
    background-color: $orange;
    height: 100vh;
}

/* header */
header {
    display: flex;
}

.cont-item {
    position: relative;
    width: 20vw;
    word-break: keep-all;
    background-color: $black;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: $border8;
    border-right: $border8;
    text-align: right;
    #header-msg {
        display: inline-block;
        font-family: 'Dela Gothic One';
        font-size: 4.1em;
        transform: translateY(60%);
        padding-right: 20px;
    }
    .circle-cont {
        position: absolute;
        top: 125px;
        left: 20px;
        z-index: 1;
        .circle {
            position: absolute;
            display: block;
            width: 100px;
            height: 240px;
            border: 2px solid #fff;
            border-radius: 100%;
            &:nth-child(2) {left: 50px;}
            &:nth-child(3) {left: 80px;}
        }
    }
}
.cont-content {
    position: relative;
    width: 55vw;
    height: 400px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 450px;
    border-bottom: $border8;
    background-image: url(../img/myphoto.png);
    background-size: 470px;
    background-position: top 10px right;
    #myname {
        display: block;
        position: absolute;
        margin-top: 90px;
        margin-left: 120px;
        font-size: 7em;
        font-weight: 900;
        z-index: -1;
        font-family: 'Archivo';
        span {
            position: relative;
            margin-left: -140px;
            top: 55px;
            font-family: 'Archivo';
            span {
                margin-left: -300px;
            }
        }
    }
}
.cont-content .animated-txt-container {
    margin-top: 200px;
    padding: 0;
    h1 {
        margin-right: -3px;
        font-size: 4.3em;
        display: inline;
        text-align: center;
        color: #fff;
        animation: h1font 3.5s ease-out infinite both;
        &:nth-child(1){animation-delay: .0s;}
        &:nth-child(2){animation-delay: .1s;}
        &:nth-child(3){animation-delay: .2s;}
        &:nth-child(4){animation-delay: .3s;}
        &:nth-child(5){animation-delay: .4s;}
        &:nth-child(6){animation-delay: .5s;}
        &:nth-child(7){animation-delay: .6s;}
        &:nth-child(8){animation-delay: .7s;}
        &:nth-child(9){animation-delay: .8s;}
        &:nth-child(10){animation-delay: .9s;}
        &:nth-child(11){animation-delay: 1s;}
        &:nth-child(12){animation-delay: 1.1s;}
        &:nth-child(13){animation-delay: 1.2s;}
        &:nth-child(14){animation-delay: 1.3s;}
        &:nth-child(15){animation-delay: 1.4s;}
        &:nth-child(16){animation-delay: 1.5s;}
        &:nth-child(17){animation-delay: 1.6s;}
        &:nth-child(18){animation-delay: 1.7s;}
        &:nth-child(19){animation-delay: 1.8s;}
        &:nth-child(20){animation-delay: 1.9s;}
        &:nth-child(21){animation-delay: 2s;}
        &:nth-child(22){animation-delay: 2.1s;}
        &:nth-child(23){animation-delay: 2.2s;}
        &:nth-child(24){animation-delay: 2.3s;}
    }
}
@keyframes h1font {
	0% {font-weight: 100; opacity: 70%;}
	50% {font-weight: 900; opacity: 100%;}
	100% {font-weight: 100; opacity: 10%;}
}

/* menu */
.cont-menu {
    position: relative;
    width: 25vw;
    border-bottom: $border8;
    border-left: $border8;
    .menu {
        display: flex;
        flex-direction: column;
        height: 400px;
        .tit-menu {
            flex: 1;
            font-size: 3em;
            border-bottom: $border8;
            &:last-child {
                border-bottom: none;
            }
            a {
                padding-left: 20px;
                line-height: 93px;
                display: block;
                font-family: 'Archivo';
                font-weight: bold;
            }
            &:hover {
                background-color: #000;
                color: $orange;
            }
        }
        .sub-menu {
            display: none;
        }
    }
}

/* main */
.circle-cont {
    position: absolute;
    top: 480px;
    width: 100%;
    z-index: -1;
    .bg-circle{
        position: absolute;
        display: block;
        width: 70%;
        height: 90px;
        border: 5px solid #000;
        border-radius: 100%;
        left: 50%;
        transform: translate(-50%, 40px);
        &:nth-child(2) {
            position: relative;
            top: -30px;
        }
    }
}

main {
    display: flex;
    height: 100vh;
}
.sub-cont {
    &:nth-child(1) {
        width: 20vw;
        border-right: $border8;

    }
    &:nth-child(3) {
        width: 25vw;
        border-left: $border8;

    }
}
main .content-1 {
    width: 55vw;
    display: block;
    background: #fff;
}


////////////////////////////////////////


@media screen and (max-width: 1600px) {
    .cont-content .animated-txt-container {
        margin-top: 190px;
        margin-bottom: 70px;
        h1 {
            font-size: 3.4em;
        }
    }

    .cont-item {
        #header-msg {
            font-size: 3.4em;
            padding-right: 15px;
        }
        .circle-cont {
            top: 105px;
            left: 20px;
            .circle {
                width: 90px;
                height: 200px;
            }
        }
    }

    .cont-content {
        height: 330px;
    }
    .cont-menu {
        height: 330px;
        .menu {
            height: 330px;
            .tit-menu {
                font-size: 2.3em;
                a {
                    line-height: 75px;
                }
            }
            .sub-menu {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 1300px) {
    header {
        flex-direction: column;
    }
    .cont-item, .cont-content, .cont-menu {
        width: 100%;
    }
    .cont-item {
        position: relative;
        text-align: center;
        border: none;
        #header-msg {
            display: inline-block;
            font-size: 3.2em;
            transform: none;
            padding-right: 0px;
        }
        .circle-cont {
            display: none;
        }
    }
    
    .cont-content {
        border: none;
        #myname {
            margin-top: 66px;
        }
        .animated-txt-container {
        margin-top: 190px;
        margin-bottom: 70px;
            h1 {
                font-size: 4.6em;
            }
        }
    }
    /* menu */
    .cont-menu {
        border: $border8;
        box-sizing: border-box;
        height: 340px;
        .menu {
            .tit-menu {
                font-size: 2.3em;
                border-bottom: $border8;
                box-sizing: border-box;
                &:last-child {
                    border-bottom: none;
                }
            }
            .sub-menu {
                display: none;
            }
        }
    }

    /* main */
    .circle-cont {
        display: none;
    }
    main .sub-cont {
        width: 2vw;
        &:nth-child(1) {
            border-right: $border8;
        }
        &:nth-child(3) {
            border-left: $border8;
        }
    }
    main .content-1 {
        width: 98vw;
    }
}

@media screen and (max-width: 1024px) {
    .cont-item {
        #header-msg {
            font-size: 2em
        }
    }
    .cont-content {
        height: 290px;
        background-size: 430px;
        background-position: top 10px right;
        #myname {
            margin-left: 55px;
            font-size: 5.5em;
            span {
                position: relative;
                margin-left: -100px;
                top: 40px;
                font-family: 'Archivo';
                span {
                    margin-left: -230px;
                }
            }
        }
        .animated-txt-container {
            margin-top: 190px;
            margin-bottom: 70px;
            h1 {
                font-size: 3.4em;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .cont-content {
        height: 290px;
        .animated-txt-container {
            margin-top: 190px;
            margin-bottom: 70px;
            h1 {
                font-size: 2.8em;
            }
        }
    }
    /* menu */
    .cont-menu {
        height: 300px;
        .menu {
            height: 280px;
            .tit-menu {
                font-size: 1.7em;
                a {
                    line-height: 65px;
                }
            }
            .sub-menu {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 640px) {
    .cont-content {
        height: 290px;
        .animated-txt-container {
            margin-top: 190px;
            margin-bottom: 70px;
            h1 {
                font-size: 2em;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .cont-content {
        height: 230px;
        background-size: 300px;
        background-position: top 10px right -40px;
        #myname {
            margin-top: 42px;
            margin-left: 24px;
            font-size: 4.2em;
            span {
                position: relative;
                margin-left: -100px;
                top: 40px;
                font-family: 'Archivo';
                span {
                    margin-left: -181px;
                }
            }
        }
        .animated-txt-container {
            margin-top: 180px;
            h1 {
                font-size: 1.7em;
            }
        }
    }
    /* menu */
    .cont-menu {
        height: 250px;
        .menu {
            height: 235px;
            .tit-menu {
                font-size: 1.7em;
                a {
                    line-height: 50px;
                }
            }
        }
    }
}