@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;500;700;800;900&display=swap");
* {
  font-family: 'Archivo', 'Pretendard';
}

a {
  text-decoration: none;
  color: inherit;
}

/* SASS 기본 */
/* scrollbar 숨기기 */
body {
  overflow: scroll;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

/* darkmode */
body.dark {
  background-color: #111;
  color: #fff;
}

body.dark #dark-btn i {
  color: #fff;
}

body.dark #dark-btn i:hover {
  color: #ff5303;
}

body.dark .menu-cont:hover {
  color: #555;
}

body.dark .menu-cont li:hover {
  color: #fff;
}

body.dark .contents-index h1 .highlight {
  color: #000;
}

body.dark .contents-resume .skill i::after {
  color: #dfdfdf;
}

body.dark .category1 {
  background-color: #555;
}

body.dark .contents-works .item-box .item-detail .list-title .git-btn {
  background-color: #555;
}

body.dark .contents-works .item-box .item-detail .list-title .git-btn:hover {
  background-color: #ff5303;
}

/* 기본 스타일 */
.ir {
  display: block;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  line-height: 0;
  font-size: 1px;
  color: transparent;
}

/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 30px 16%;
}

header h1 {
  cursor: pointer;
  width: 240px;
  font-family: 'Archivo';
  font-size: 45px;
  font-weight: 900;
  line-height: 34px;
  letter-spacing: -2px;
}

header h1 .hover {
  display: none;
}

header h1:hover .show {
  display: none;
}

header h1:hover .hover {
  display: inline;
  color: #ff5303;
}

header .menu-cont {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  font-family: 'Archivo';
  font-weight: 500;
  letter-spacing: -0.5px;
}

header .menu-cont:hover {
  color: #afafaf;
}

header .menu-cont #dark-btn {
  color: #000;
}

header .menu-cont #dark-btn:hover {
  color: #ff5303;
}

header .menu-cont #dark-btn i {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .menu-cont li {
  margin-top: 9px;
}

header .menu-cont li:hover {
  position: relative;
  color: #000;
  font-weight: 800;
}

header .menu-cont .menu-title:hover::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(4px, -50%);
          transform: translate(4px, -50%);
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #ff5303;
}

/* main */
main {
  padding: 15px 16%;
}

@media screen and (max-width: 1600px) {
  .cont-item #header-msg {
    font-size: 3.4em;
    padding-right: 15px;
  }
  .cont-item .circle-cont {
    top: 105px;
    left: 20px;
  }
  .cont-item .circle-cont .circle {
    width: 90px;
    height: 200px;
  }
  .cont-content {
    height: 330px;
    background-size: 430px;
    background-position: top 10px right -25px;
  }
  .cont-content #myname {
    margin-top: 55px;
    margin-left: 65px;
  }
  .cont-content .animated-txt-container {
    margin-top: 190px;
    margin-bottom: 70px;
  }
  .cont-content .animated-txt-container h1 {
    font-size: 3.4em;
  }
  .cont-menu {
    height: 330px;
  }
  .cont-menu .menu {
    height: 330px;
  }
  .cont-menu .menu .tit-menu {
    font-size: 2.3em;
  }
  .cont-menu .menu .tit-menu a {
    line-height: 75px;
  }
  .cont-menu .menu .sub-menu {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont-item, .cont-content, .cont-menu {
    width: 100%;
  }
  .cont-item {
    position: relative;
    text-align: center;
    border: none;
  }
  .cont-item #header-msg {
    display: inline-block;
    font-size: 3.2em;
    -webkit-transform: none;
            transform: none;
    padding-right: 0px;
  }
  .cont-item .circle-cont {
    display: none;
  }
  .cont-content {
    border: none;
  }
  .cont-content #myname {
    margin-top: 66px;
  }
  .cont-content .animated-txt-container {
    margin-top: 190px;
    margin-bottom: 70px;
  }
  .cont-content .animated-txt-container h1 {
    font-size: 4.6em;
  }
  /* menu */
  .cont-menu {
    border: 8px solid #000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 340px;
  }
  .cont-menu .menu {
    height: 320px;
  }
  .cont-menu .menu .tit-menu {
    font-size: 2.3em;
    border-bottom: 8px solid #000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .cont-menu .menu .tit-menu:last-child {
    border-bottom: none;
  }
  .cont-menu .menu .sub-menu {
    display: none;
  }
  /* main */
  .circle-cont {
    display: none;
  }
  main .sub-cont:nth-child(1) {
    width: 18vw;
    border-right: 8px solid #000;
  }
  main .sub-cont:nth-child(3) {
    width: 18vw;
    border-left: 8px solid #000;
  }
  main .main-cont {
    width: 64vw;
  }
}

@media screen and (max-width: 1024px) {
  .cont-item #header-msg {
    font-size: 2em;
  }
  .cont-content {
    height: 290px;
    background-size: 430px;
    background-position: top 10px right;
  }
  .cont-content #myname {
    margin-left: 55px;
    font-size: 5.5em;
  }
  .cont-content #myname span {
    position: relative;
    margin-left: -100px;
    top: 40px;
    font-family: 'Archivo';
  }
  .cont-content #myname span span {
    margin-left: -230px;
  }
  .cont-content .animated-txt-container {
    margin-top: 190px;
    margin-bottom: 70px;
  }
  .cont-content .animated-txt-container h1 {
    font-size: 3.4em;
  }
}

@media screen and (max-width: 768px) {
  .cont-content {
    height: 260px;
    background-size: 300px;
    background-position: top 10px right -40px;
  }
  .cont-content .animated-txt-container {
    margin-top: 190px;
    margin-bottom: 70px;
  }
  .cont-content .animated-txt-container h1 {
    font-size: 2.4em;
  }
  .cont-content #myname {
    margin-top: 55px;
    margin-left: 24px;
    font-size: 4.5em;
  }
  .cont-content #myname span {
    position: relative;
    margin-left: -100px;
    top: 35px;
    font-family: 'Archivo';
  }
  .cont-content #myname span span {
    margin-left: -190px;
  }
  /* menu */
  .cont-menu {
    height: 300px;
    border-left: none;
    border-right: none;
  }
  .cont-menu .menu {
    height: 280px;
  }
  .cont-menu .menu .tit-menu {
    font-size: 1.7em;
  }
  .cont-menu .menu .tit-menu a {
    line-height: 65px;
  }
  .cont-menu .menu .sub-menu {
    display: none;
  }
  /* main */
  .circle-cont, main .sub-cont {
    display: none;
  }
  main .main-cont {
    width: 100vw;
  }
}

@media screen and (max-width: 640px) {
  .cont-content .animated-txt-container {
    margin-top: 190px;
    margin-bottom: 70px;
  }
  .cont-content .animated-txt-container h1 {
    font-size: 2em;
  }
}
/*# sourceMappingURL=style.css.map */