@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap");
body, a, p, h1, h2, h3, h4, span, li, ul, button, input, form, div {
  font-family: 'Pretendard';
}

a {
  text-decoration: none;
  color: inherit;
}

/* SASS 기본 */
/* 기본 스타일 */
body {
  background-color: #FF5203;
  height: 100vh;
}

.ir {
  display: block;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  line-height: 0;
  font-size: 1px;
  color: transparent;
}

/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-item {
  position: relative;
  width: 20vw;
  word-break: keep-all;
  background-color: #131313;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 8px solid #000;
  border-right: 8px solid #000;
  text-align: right;
}

.cont-item #header-msg {
  display: inline-block;
  font-family: 'Dela Gothic One';
  font-size: 4.1em;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
  padding-right: 20px;
}

.cont-item .circle-cont {
  position: absolute;
  top: 125px;
  left: 20px;
  z-index: 1;
}

.cont-item .circle-cont .circle {
  position: absolute;
  display: block;
  width: 100px;
  height: 240px;
  border: 2px solid #fff;
  border-radius: 100%;
}

.cont-item .circle-cont .circle:nth-child(2) {
  left: 50px;
}

.cont-item .circle-cont .circle:nth-child(3) {
  left: 80px;
}

.cont-content {
  position: relative;
  width: 55vw;
  height: 400px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 450px;
  border-bottom: 8px solid #000;
  background-image: url(../img/myphoto.png);
  background-size: 470px;
  background-position: top 10px right;
}

.cont-content #myname {
  display: block;
  position: absolute;
  margin-top: 90px;
  margin-left: 120px;
  font-size: 7em;
  font-weight: 900;
  z-index: -1;
  font-family: 'Archivo';
}

.cont-content #myname span {
  position: relative;
  margin-left: -140px;
  top: 55px;
  font-family: 'Archivo';
}

.cont-content #myname span span {
  margin-left: -300px;
}

.cont-content .animated-txt-container {
  margin-top: 200px;
  padding: 0;
}

.cont-content .animated-txt-container h1 {
  margin-right: -4px;
  font-size: 4.3em;
  display: inline;
  text-align: center;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-animation: h1font 3.5s ease-out infinite both;
          animation: h1font 3.5s ease-out infinite both;
}

.cont-content .animated-txt-container h1:nth-child(1) {
  -webkit-animation-delay: .0s;
          animation-delay: .0s;
}

.cont-content .animated-txt-container h1:nth-child(2) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.cont-content .animated-txt-container h1:nth-child(3) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.cont-content .animated-txt-container h1:nth-child(4) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.cont-content .animated-txt-container h1:nth-child(5) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.cont-content .animated-txt-container h1:nth-child(6) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.cont-content .animated-txt-container h1:nth-child(7) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.cont-content .animated-txt-container h1:nth-child(8) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.cont-content .animated-txt-container h1:nth-child(9) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.cont-content .animated-txt-container h1:nth-child(10) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

.cont-content .animated-txt-container h1:nth-child(11) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.cont-content .animated-txt-container h1:nth-child(12) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.cont-content .animated-txt-container h1:nth-child(13) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.cont-content .animated-txt-container h1:nth-child(14) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.cont-content .animated-txt-container h1:nth-child(15) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.cont-content .animated-txt-container h1:nth-child(16) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.cont-content .animated-txt-container h1:nth-child(17) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.cont-content .animated-txt-container h1:nth-child(18) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.cont-content .animated-txt-container h1:nth-child(19) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.cont-content .animated-txt-container h1:nth-child(20) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.cont-content .animated-txt-container h1:nth-child(21) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.cont-content .animated-txt-container h1:nth-child(22) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.cont-content .animated-txt-container h1:nth-child(23) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.cont-content .animated-txt-container h1:nth-child(24) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

@-webkit-keyframes h1font {
  0% {
    font-weight: 100;
    opacity: 70%;
  }
  50% {
    font-weight: 900;
    opacity: 100%;
  }
  100% {
    font-weight: 100;
    opacity: 10%;
  }
}

@keyframes h1font {
  0% {
    font-weight: 100;
    opacity: 70%;
  }
  50% {
    font-weight: 900;
    opacity: 100%;
  }
  100% {
    font-weight: 100;
    opacity: 10%;
  }
}

/* menu */
.cont-menu {
  position: relative;
  width: 25vw;
  border-bottom: 8px solid #000;
  border-left: 8px solid #000;
}

.cont-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
}

.cont-menu .menu .tit-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 3em;
  border-bottom: 8px solid #000;
}

.cont-menu .menu .tit-menu:last-child {
  border-bottom: none;
}

.cont-menu .menu .tit-menu a {
  padding-left: 20px;
  line-height: 93px;
  display: block;
  font-family: 'Archivo';
  font-weight: bold;
}

.cont-menu .menu .tit-menu:hover {
  background-color: #000;
  color: #FF5203;
}

.cont-menu .menu .sub-menu {
  display: none;
}

/* main */
.circle-cont {
  position: absolute;
  top: 480px;
  width: 100%;
  z-index: -1;
}

.circle-cont .bg-circle {
  position: absolute;
  display: block;
  width: 70%;
  height: 90px;
  border: 5px solid #000;
  border-radius: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 40px);
          transform: translate(-50%, 40px);
}

.circle-cont .bg-circle:nth-child(2) {
  position: relative;
  top: -30px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
}

.sub-cont:nth-child(1) {
  width: 20vw;
  border-right: 8px solid #000;
}

.sub-cont:nth-child(3) {
  width: 25vw;
  border-left: 8px solid #000;
}

main .main-cont {
  width: 55vw;
  padding-bottom: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
}

@media screen and (max-width: 1600px) {
  .cont-item #header-msg {
    font-size: 3.4em;
    padding-right: 15px;
  }
  .cont-item .circle-cont {
    top: 105px;
    left: 20px;
  }
  .cont-item .circle-cont .circle {
    width: 90px;
    height: 200px;
  }
  .cont-content {
    height: 330px;
    background-size: 430px;
    background-position: top 10px right -25px;
  }
  .cont-content #myname {
    margin-top: 55px;
    margin-left: 65px;
  }
  .cont-content .animated-txt-container {
    margin-top: 190px;
    margin-bottom: 70px;
  }
  .cont-content .animated-txt-container h1 {
    font-size: 3.4em;
  }
  .cont-menu {
    height: 330px;
  }
  .cont-menu .menu {
    height: 330px;
  }
  .cont-menu .menu .tit-menu {
    font-size: 2.3em;
  }
  .cont-menu .menu .tit-menu a {
    line-height: 75px;
  }
  .cont-menu .menu .sub-menu {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont-item, .cont-content, .cont-menu {
    width: 100%;
  }
  .cont-item {
    position: relative;
    text-align: center;
    border: none;
  }
  .cont-item #header-msg {
    display: inline-block;
    font-size: 3.2em;
    -webkit-transform: none;
            transform: none;
    padding-right: 0px;
  }
  .cont-item .circle-cont {
    display: none;
  }
  .cont-content {
    border: none;
  }
  .cont-content #myname {
    margin-top: 66px;
  }
  .cont-content .animated-txt-container {
    margin-top: 190px;
    margin-bottom: 70px;
  }
  .cont-content .animated-txt-container h1 {
    font-size: 4.6em;
  }
  /* menu */
  .cont-menu {
    border: 8px solid #000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 340px;
  }
  .cont-menu .menu .tit-menu {
    font-size: 2.3em;
    border-bottom: 8px solid #000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .cont-menu .menu .tit-menu:last-child {
    border-bottom: none;
  }
  .cont-menu .menu .sub-menu {
    display: none;
  }
  /* main */
  .circle-cont {
    display: none;
  }
  main .sub-cont {
    width: 2vw;
  }
  main .sub-cont:nth-child(1) {
    border-right: 8px solid #000;
  }
  main .sub-cont:nth-child(3) {
    border-left: 8px solid #000;
  }
  main .main-cont {
    width: 98vw;
  }
}

@media screen and (max-width: 1024px) {
  .cont-item #header-msg {
    font-size: 2em;
  }
  .cont-content {
    height: 290px;
    background-size: 430px;
    background-position: top 10px right;
  }
  .cont-content #myname {
    margin-left: 55px;
    font-size: 5.5em;
  }
  .cont-content #myname span {
    position: relative;
    margin-left: -100px;
    top: 40px;
    font-family: 'Archivo';
  }
  .cont-content #myname span span {
    margin-left: -230px;
  }
  .cont-content .animated-txt-container {
    margin-top: 190px;
    margin-bottom: 70px;
  }
  .cont-content .animated-txt-container h1 {
    font-size: 3.4em;
  }
}

@media screen and (max-width: 768px) {
  .cont-content {
    height: 260px;
    background-size: 300px;
    background-position: top 10px right -40px;
  }
  .cont-content .animated-txt-container {
    margin-top: 190px;
    margin-bottom: 70px;
  }
  .cont-content .animated-txt-container h1 {
    font-size: 2.4em;
  }
  .cont-content #myname {
    margin-top: 55px;
    margin-left: 24px;
    font-size: 4.5em;
  }
  .cont-content #myname span {
    position: relative;
    margin-left: -100px;
    top: 35px;
    font-family: 'Archivo';
  }
  .cont-content #myname span span {
    margin-left: -190px;
  }
  /* menu */
  .cont-menu {
    height: 300px;
    border-left: none;
    border-right: none;
  }
  .cont-menu .menu {
    height: 280px;
  }
  .cont-menu .menu .tit-menu {
    font-size: 1.7em;
  }
  .cont-menu .menu .tit-menu a {
    line-height: 65px;
  }
  .cont-menu .menu .sub-menu {
    display: none;
  }
  /* main */
  .circle-cont, main .sub-cont {
    display: none;
  }
  main .main-cont {
    width: 100vw;
  }
}

@media screen and (max-width: 640px) {
  .cont-content .animated-txt-container {
    margin-top: 190px;
    margin-bottom: 70px;
  }
  .cont-content .animated-txt-container h1 {
    font-size: 2em;
  }
}
/*# sourceMappingURL=style.css.map */